<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>天马工场-接入指引</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/common.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/guide.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script>
        alert('请注意：\n\n检测到您浏览器内核版本过低，为了您有更好地网页体验，\n\n建议请您升级浏览器版本至IE9以上或使用谷歌、火狐浏览器！');
        window.location.href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads";
    </script>
    <![endif]-->
</head>
<body>
<div id="container">
    <!--顶部导航栏 开始-->
    <div id="header">
        <div class="section header">
            <div class="f-left logo">
                <a href="../index.html"><img src="../images/logo.png"/></a>
            </div>
            <div class=" f-left header-nav">
                <ul>
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="product.html">解决方案</a>-->
                    <!--</li>-->
                    <li class="active">
                        <a href="guide.html">接入指引</a>
                    </li>
                    <li>
                        <a href="http://coder.360tianma.com/#/Login" target="_blank">开发者平台</a>
                    </li>
                    <li>
                        <a href="http://coder.360tianma.com/market" target="_blank">应用商城</a>
                    </li>
                </ul>
            </div>
            <div class="f-right user-info">
                <a href="login.html" title="登录">登录</a>
                <a href="signUp.html" title="注册">注册</a>
            </div>
        </div>
    </div>
    <!--顶部导航栏 结束-->
    <div class="container-fluid">
        <div class="wrap1 row">
            <div>
                <!--广告图-->
                <img src="../images/guide/banner.png" alt="">
            </div>
        </div>
        <div class="wrap2 row">
            <!--合作流程-->
            <div class="col-sm-12">
                <h2 class="text-center">合作流程</h2>
                <p class="text-center">Cooperation Process</p>
                <div class="process">
                    <ul>
                        <li>在线构建移动应用</li>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <li>产品购买</li>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <li>部署</li>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <li>测试</li>
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <li>上线</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <h2 class="text-center">2周完成移动端构建</h2>
                <a href="appOverview.html" class="btn btn-primary">立即体验</a>
            </div>
        </div>
        <div class="wrap3 row">
            <!--合作流程-->
            <div class="col-sm-12">
                <h2 class="text-center">平台框架</h2>
                <p class="text-center">天马工场的框架包括3个部分，Andriod的前端框架，iOS的前端框架以及Web后台框架。框架包含的内容有：</p>
                <div class="tableContainer">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">类别</th>
                                <th>说明</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr><td rowspan="6" class="text-center bg-blue" style="padding-top: 80px;">服务</td><td>商业授权</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>在线更新</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>更新指导</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>正规发票</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>绑定站点修改（限3次）</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>咨询在线人工服务</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td rowspan="7" class="text-center bg-blue" style="padding-top: 90px;">基础功能</td><td>APP组件管理（支持hybrid 、Native、 H5 框架）</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>框架功能（窗口、消息、推送、设备调用等）</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>框架服务（注册、认证、分享、定位、拍摄等功能）</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>生产用户管理（部门组织、角色、分类、权限等）</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>大众会员管理（身份、注册、认证、积分等）</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>组件集成、安装、升级</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>开发者中心</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td rowspan="3" class="text-center bg-blue" style="padding-top: 32px;">高级功能</td><td>多站点访问</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>支付交易服务</td><td><span class="glyphicon glyphicon-ok"></span></td></tr>
                        <tr><td>APP运营数据统计分析</td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="wrap4 row">
            <!--增值服务-->
            <div class="col-sm-12">
                <h2 class="text-center">增值服务</h2>
                <p class="text-center">为更好的辅助您进行APP的实施及后续运营维护，我们还寻找了可靠地服务提供商，为您提供优质集成服务和运维服务</p>
                <p class="text-center">助您轻松实现移动端高稳定运营</p>
            </div>
            <div class="fw">
                <h3 class="text-center">集成服务</h3>
                <!--<p>服务提供商：成都索贝数码科技股份有限公司</p>-->
                <p class="content">服务范围：在平台交互可部署产品后，由服务提供商按照要求完成前后端程序的部署，并协助用户完成客户端上架，实现移动客户端和后台管理程序正确运行后交与用户。</p>
                <a href="##" class="ht">服务合同</a>
                <p class="price text-center">￥15000.00<span>起</span></p>
                <a href="introduce.html" class="btn btn-primary">了解详情</a>
            </div>
            <div class="fw">
                <h3 class="text-center">运维服务</h3>
                <!--<p>服务提供商：成都索贝数码科技股份有限公司</p>-->
                <p class="content">服务范围：为客户提供服务器资源、提供服务器安全防护等服务，异常情况处理等。为您保障APP持续安全运行。</p>
                <a href="##" class="ht">服务合同</a>
                <p class="price text-center">￥20000.00<span>起</span></p>
                <a href="introduce.html" class="btn btn-primary">了解详情</a>
            </div>
        </div>
        <div class="wrap5 row">
            <!--底部信息 开始-->
            <div class="index-foot">
                <div class="section foot-msg">
                    <p>
                        <a href="company.html" title="公司信息">公司信息</a>
                        <a href="product.html" title="产品说明">产品说明</a>
                        <a href="contact.html" title="联系我们">联系我们</a>
                    </p>
                    <p>Copyright © 2017 成都创流科技有限公司 | ICP证: 蜀ICP备18005390号</p>
                </div>
            </div>
            <!--底部信息 结束-->
        </div>
    </div>
</div>

<script type="text/javascript" src="../lib/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="../script/script.js"></script>
<script type="text/javascript" src="../config/HTTPurl.js"></script>
<script type="text/javascript" src="../script/getUserInfo.js"></script>
<script type="text/javascript" src="../script/guide.js"></script>
</body>
</html>