<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>天马工场-解决方案</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/common.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../lib/slider/flexslider.css">
    <link rel="stylesheet" type="text/css" href="../style/product.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script>
        alert('请注意：\n\n检测到您浏览器内核版本过低，为了您有更好地网页体验，\n\n建议请您升级浏览器版本至IE9以上或使用谷歌、火狐浏览器！');
        window.location.href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads";
    </script>
    <![endif]-->
</head>
<body>
<div id="container">
    <!--顶部导航栏 开始-->
    <div id="header">
        <div class="section header">
            <div class="f-left logo">
                <a href="../index.html"><img src="../images/logo.png"/></a>
            </div>
            <div class=" f-left header-nav">
                <ul>
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li class="active">
                        <a href="product.html">解决方案</a>
                    </li>
                    <li>
                        <a href="guide.html">接入指引</a>
                    </li>
                </ul>
            </div>
            <div class="f-right user-info">
                <a href="login.html" title="登录">登录</a>
                <a href="signUp.html" title="注册">注册</a>
            </div>
        </div>
    </div>
    <!--顶部导航栏 结束-->
    <div class="container-fluid">
        <div class="wrap0 row">
            <div id="product_preview" class="col-sm-5">
                <!--产品预览 开始-->
                <div class="phone">
                    <div class="pic_container">
                        <section class="slider">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="../images/product/IMG_0348.PNG" />
                                    </li>
                                    <li>
                                        <img src="../images/product/IMG_0349.PNG" />
                                    </li>
                                    <li>
                                        <img src="../images/product/IMG_0350.PNG" />
                                    </li>
                                    <li>
                                        <img src="../images/product/IMG_0351.PNG" />
                                    </li>
                                    <li>
                                        <img src="../images/product/IMG_0352.PNG" />
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <!--产品预览 结束-->
            </div>
            <div id="product_info" class="col-sm-6">
                <h1 class="product_name">媒体领域专业解决方案</h1>
                <p class="price">￥ 39999</p>
                <p class="summary">提供资讯、视频、直播、活动三大主力新闻资讯移动客户端解决方案，支持安卓和ios系统，是针对媒体领域的专业系统</p>
                <!--产品介绍 开始-->
                <div class="information">
                    <h2 class="infor_title">该解决方案包含一下内容：</h2>
                    <p class="infor_details"><span class="dot"></span>高可用移动客户端框架</p>
                    <p class="infor_details"><span class="dot"></span>媒体领域专业套餐，包含以下组件</p>
                    <div class="infor_assembly">
                        <div class="assembly">
                            <img src="../images/product/assembly1.png" alt="思远资讯组件" class="assembly_img">
                            <p class="assembly_title">思远资讯组件</p>
                        </div>
                        <div class="assembly">
                            <img src="../images/product/assembly2.png" alt="齐跃直播组件" class="assembly_img">
                            <p class="assembly_title">齐跃直播组件</p>
                        </div>
                        <div class="assembly">
                            <img src="../images/product/assembly3.png" alt="齐跃视频组件" class="assembly_img">
                            <p class="assembly_title">齐跃视频组件</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--<p class="infor_details"><span class="dot"></span>齐跃视频组件</p>-->
                </div>
                <!--产品介绍 结束-->
                <div class="btn_container">
                    <a href="appOverview.html" type="button" class="btn btn-primary buy">立即体验</a>
                </div>
            </div>
        </div>
        <div class="wrap1 row">
            <div class="col-sm-12">
                <img src="../images/product/sanjiao.png" alt="">
            </div>
            <div class="text col-sm-4">
                <h2 class="title">高可用框架</h2>
                <p class="content">支持框架配置，可在线添加组件</p>
                <p class="content">支持ios、安卓两种客户端</p>
                <p class="content">混合式开发、高可扩展性、高可用</p>
            </div>
            <div class="images col-sm-8">
                <img src="../images/product/wrap1.png" alt="">
            </div>
        </div>
        <div class="wrap2 row">
            <div class="images col-sm-7">
                <img src="../images/product/wrap2.png" alt="">
            </div>
            <div class="text col-sm-5">
                <h2 class="title">思远资讯</h2>
                <p class="content">支持单图、多图、广告、专题、视频新闻等多种新闻形式</p>
                <p class="content">支持多种栏目分类，新闻、房产、城市、教育</p>
                <p class="content">多年经验累积、专业开发团队支持</p>
            </div>
        </div>
        <div class="wrap3 row">
            <div class="text col-sm-5">
                <h2 class="title">齐跃视频</h2>
                <p class="content">支持当下流行的瀑布流展现形式</p>
                <p class="content">支持视频评论</p>
                <p class="content">支持广告管理，可添加自己广告</p>
            </div>
            <div class="images col-sm-7">
                <img src="../images/product/wrap3.png" alt="">
            </div>
        </div>
        <div class="wrap4 row">
            <div class="images col-sm-6">
                <img src="../images/product/wrap4.png" alt="">
            </div>
            <div class="text col-sm-6">
                <h2 class="title">齐跃直播</h2>
                <p class="content">一个轻巧的图文直播发布平台，一切以内容为主的图文直播系统</p>
                <p class="content">轻松接入各类，直播支持直播预告</p>
                <p class="content">支持直播互动及审查，轻松把控互动和评论信息</p>
            </div>
        </div>
        <div class="wrap5 row">
            <div class="text col-sm-7">
                <h2 class="title">编码器</h2>
                <p class="content">提供满足各种应用场景需求的编码器</p>
                <p class="content">从嵌入航拍摄像机的超清模块到可用于处理多通道的高密度架构</p>
                <p class="content">与专业团队紧密合作，为您提供最好的产品和服务</p>
            </div>
            <div class="images col-sm-5">
                <img src="../images/product/wrap5.png" alt="">
            </div>
            <!--底部信息 开始-->
            <div class="index-foot">
                <div class="section foot-msg">
                    <p>
                        <a href="company.html" title="公司信息">公司信息</a>
                        <a href="product.html" title="产品说明">产品说明</a>
                        <a href="contact.html" title="联系我们">联系我们</a>
                    </p>
                    <p>Copyright © 2017 **服务集团 | ICP证: 沪ICP备*******号-2</p>
                </div>
            </div>
            <!--底部信息 结束-->
        </div>
    </div>
</div>

<script type="text/javascript" src="../lib/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="../script/script.js"></script>
<script type="text/javascript" src="../lib/slider/jquery.flexslider.js"></script>
<script type="text/javascript" src="../config/HTTPurl.js"></script>
<script type="text/javascript" src="../script/getUserInfo.js"></script>
<script type="text/javascript" src="../script/product.js"></script>
</body>
</html>