
body{
    background-color: #f2f2f2;
}

#container .container{
    margin-top:72px;
    padding-top:20px;
    padding-bottom:40px;
}
#container .container .title{
    margin:20px 0;
    line-height:40px;
    font-size:26px;
    font-weight:normal;
    color: #336699;
}
#container .container .subtitle{
    margin:20px 0;
    line-height:40px;
    font-size:18px;
    font-weight:normal;
    color: #336699;
}
#container .container p.cc{
    display: block;
    text-indent:36px;
    margin:10px 0;
    padding:10px 0;
    font-size:14px;
    font-weight:normal;
    color: #333333;
}
#container .container p.cc img{
    display: block;
    width:90%;
    margin:0 auto;
}