
body{
    background-color: #f2f2f2;
}

#container .container{
    margin-top:72px;
    padding-bottom:40px;
}
#container .container .title{
    width:623px;
    height:40px;
    line-height:40px;
    margin:30px auto;
    background: url("../images/introduce/titleline.png") center bottom no-repeat;
    font-size:22px;
    font-weight:normal;
}
#container .container .cc{
    position: relative;
    margin-bottom:10px;
}
#container .container .cc h3{
    font-size:18px;
    font-weight:normal;
    line-height:38px;
    color: #264F9E;
}
#container .container .cc p{
    font-size:14px;
    display: block;
    line-height:32px;
    color: #363636;
}
#container .container .cc span{
    font-size:20px;
    color: #264F9E;
    position: absolute;
    top:10px;
    left:-36px;
}
#container .tableContainer{
    max-width:1000px;
    margin:auto;
}
.tableContainer .table-striped>tbody>tr{
    background-color: #fff;
}
.tableContainer .table-striped>tbody>tr td:nth-child(1){
    text-align: left;
    padding-left:.5rem;
}
.tableContainer .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F6F9FA;
}
.tableContainer .table-hover>tbody>tr:hover {
    background-color: #428BCA;
}
.tableContainer .table-hover>tbody>tr:hover td{
    color: #fff;
}
.tableContainer .table-hover>tbody>tr:hover td:nth-child(1) span{
    color: #fff;
}
.tableContainer .table>tbody>tr td:nth-child(1) span{
    color: #646464;
    display: inline-block;
    margin-right:.1rem;
}
.tableContainer .table>tbody>tr td span{
    color: #FF7E7E;
}
.tableContainer .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    /*border-color: #FF7E7E;*/
}